@import "~bulma/sass/utilities/initial-variables"
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap')
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap')
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap')
@import url('https://fonts.googleapis.com/css?family=Mandali&display=swap')
// Config vars
// Kaldi logo brand color: #FD461E
$kaldi-red: #D64000
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert
$body-color: #333
$black: #2b2523


@mixin gradient
  background: #00F260  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to top right, #00F260, #0575E6)  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to top right,  #00F260, #0575E6) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  //background-image: -webkit-linear-gradient(to top right, #00F260, #0575E6) /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  //background-image:    -moz-linear-gradient(to top right, #00F260, #0575E6) /* For Firefox (3.6 to 15) */
  //background-image:      -o-linear-gradient(to top right, #00F260, #0575E6) /* For old Opera (11.1 to 12.0) */ 
  //background-image:         linear-gradient(to top right, #00F260, #0575E6) /* Standard syntax; must be last */

  background: -webkit-linear-gradient(left, #00F260, #0575E6)
  /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffad26), color-stop(50%,#fea026), color-stop(51%,#ff8b00), color-stop(100%,#ff7701)); /* Chrome,Safari4+ */
  background: -o-linear-gradient(right, #00F260, #0575E6)
  background: -moz-linear-gradient(right, #00F260, #0575E6)
  background: linear-gradient(to right, #00F260, #0575E6)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  text-decoration: none

body 
  background-color: black
  overflow:hidden
  //font-family: 'Quicksand', sans-serif !important
  //font-family: 'Dosis', sans-serif !important
  font-family: 'Muli', sans-serif !important
  //font-family: 'Mandali', sans-serif !important

.navbar .navbar-menu
  box-shadow:none !important


.navbar-menu.is-active
  background-color: #000000d4 !important
  height: 100vh !important

  #contact-item
    margin-left: 0px !important

.home-image
  max-width: 60%

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.btn
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    font-size: 1rem
    line-height: 1.25
    background-color: #fff
    border-radius: .25rem
    text-decoration: none
    font-weight: 700
    color: #CC3700
    text-align: center
    -webkit-box-shadow: inset 0 0 0 2px #CC3700
    box-shadow: inset 0 0 0 2px #f40
    -webkit-transition: all .15s ease
    transition: all .15s ease

.margin-top-0
  margin-top: 0 !important

.navbar-item 
  background-color: transparent !important
  color: lightgray !important  
  font-size: larger
  background-image: -moz-none
  background-image: -webkit-none
  background-image: -webkit-none
  background-image: -o-none
  background-image:none

.navbar-item:hover
  @include gradient
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  -webkit-transition: all .5s ease
  transition: all .5s ease

// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
.navbar-brand .navbar-item.logo
  padding: 0 1rem
footer.footer
  padding: 3rem 0rem 0rem
  background-color: transparent



.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social
  padding: 2em
.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    background-color: $white-ter
    margin: .5em
    width: 1em
    height: 1em
    vertical-align: middle
    display: inline

// blog roll
.blog-list-item.is-featured
  background-color: #d6400033
.blog-list-item header
  display: flex
  margin-bottom: 1em
.blog-list-item .featured-thumbnail
  flex-basis: 35%
  margin: 0 1.5em 0 0


@import "~bulma"


// landing page
.landing 
  background: url("https://media.giphy.com/media/26uf1bGTmHqsyHaaA/giphy.gif") no-repeat center center fixed
  -webkit-background-size: 60%
  -moz-background-size: 60%
  -o-background-size: 60%
  background-size: 60% 
  min-height: 100vh
  background-position: center
  /*font-family: "Open Sans", sans-serif*/

.center 
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

.page
  background-color: black
  background-image: none
  color: white
  min-height: 100vh
  overflow: hidden

.overlay 
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  height: 100%
  width: 100%
  opacity: 0.6
  transition: .5s ease
  background-color: black
  // @include gradient

.tile-text 
  opacity: 1
  color: white
  font-size: 25px
  // position: absolute  
  text-align: center
  font-weight: 900

.tile-thumbnail 
  height: 100%
  width: 100%
  opacity: .4
  top: 0
  left: 0
  padding: 0
  //transition: all .2s ease-in-out
  overflow: hidden 


.title-separator
  margin-bottom: 2rem

.tile-container 
  position: relative
  overflow: hidden 
  //padding: 13px
.content h4
  color: #555555


.tile-container:hover 
  .overlay 
    opacity: 0.2
    background-color: white
  .tile-text 
    @include gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  .tile-thumbnail  
    -webkit-transform: scale(1.05)
    -moz-transform: scale(1.05)
    -o-transform: scale(1.05)
    transform: scale(1.05)
 
    




.tile-wrapper 
  display: grid
  grid-template-columns: repeat(3, 1fr)

.contact-cover
  position: absolute
  top: 0
  min-height: 100vh
  width: 30%
  background-repeat: no-repeat
  background-size: cover
  background-position-x: center

.contact-box
  padding: 8% 10%
  text-align: center
  border: 15px solid transparent
  -webkit-border-image: url("https://media.giphy.com/media/26uf1bGTmHqsyHaaA/giphy.gif") 10 stretch  /* Safari 3.1-5 */
  -o-border-image: url("https://media.giphy.com/media/26uf1bGTmHqsyHaaA/giphy.gif") 10 stretch  /* Opera 11-12.1 */
  border-image: url("https://media.giphy.com/media/26uf1bGTmHqsyHaaA/giphy.gif") 10 stretch 
  border-image-slice: 35%

.contact-content
  margin-top: 1rem

.gradient-text
  @include gradient
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.masonry-with-columns 
  columns: 3 200px
  column-gap: 0
  div     
    display: inline-table
    width: 100%
    
.post-video
  width: 100%
  height: auto

.cr 
  bottom: 0px
  position: fixed
  right: 0
  font-size: small
  color: #ffffff14
  font-weight: bold
  padding: 5px 15px
.cr a
  color: #ffffff14

.gradient-divider
  background-image: -webkit-linear-gradient(to top right, #00F260, #0575E6) /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image:    -moz-linear-gradient(to top right, #00F260, #0575E6) /* For Firefox (3.6 to 15) */
  background-image:      -o-linear-gradient(to top right, #00F260, #0575E6) /* For old Opera (11.1 to 12.0) */ 
  background-image:         linear-gradient(to top right, #00F260, #0575E6) /* Standard syntax; must be last */

  width: 100%
  height: 1px
.contact-header
  color: #333
.soc-icon
  filter: invert(80%)
  width: 20px
  height: 20px

.soc-icon:hover
  filter: invert(100%)
  transform: scale(1.2)

.bottom-bar
  position: absolute
  bottom: 0px
  left: 0px
  right: 0px
  padding: 46px 0px

.mobile-vid
  display: none

.desktop-vid
  display: inherit

.img
  max-height: 8rem

.portfolioposts 
   display: block
   display: -webkit-flex
   display: -moz-flex
   display: flex
   -webkit-align-items: left
   -webkit-moz-items: left
   align-items: left
   -webkit-justify-content: left
   -moz-justify-content: left
   justify-content: left
   -webkit-flex-direction: row
   -moz-flex-direction: row
   flex-direction: row
   -webkit-flex-wrap: wrap
   -moz-flex-wrap: wrap
   flex-wrap: wrap
   -webkit-flex-flow: row wrap
   -moz-flex-flow: row wrap
   flex-flow: row wrap
   -webkit-align-content: flex-end
   -moz-align-content: flex-end
   align-content: flex-end

.tile-item 
    display: inline-block
    display: box
    width: 33.3%





// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%
  .tile-item    
    width: 50%

+mobile
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center
    max-width: 70%
    margin: 0 0 1em
  .home-image
    max-width: 90%
  .contact-cover
    display: none
  .contact-content
    margin-left: 0
  .bottom-bar
    padding: 0
    text-align: center
  .mobile-vid
    display: inherit
  .desktop-vid
    display: none
  .mobile-section
    padding: 0rem 1.5rem
  .img
    max-height: inherit
    max-width: 50%
  .tile-item    
    width: 100%
